html {font-family: Helvetica;
      font-size: 22px;
      color: seashell;
      background-color: black;
      opacity: 0.9;
      text-align: center;
       }

/*Header*/

.header {
        display: block;
        position: fixed;
        top: 0;
        height: 69px;
        width: 100%;
        border-bottom: 1px solid seashell;
        z-index: 20;
        margin: 0 auto;
        }

#logo {height: 50px;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 100;}

nav {display: block;
    text-decoration: underline;
     text-align: right;
     padding: 19px 15px;
}

span {padding: 1px 10px;}
/*Main Section*/

.main {display: flex;
      flex-flow: column wrap;
      max-height: 100%;
      width: 100%;
      position: relative;
      justify-content: center;
      margin: auto;
      }


/*Our Mission*/

.our_mission {display: flex;
          display: block;
          width: 1200px;
          height: 700px;
          background-image: url("./images/img-mission-background.jpg");
        }

.our_mission .content_1 {background-color: black;
                        width: 1200px;

}

/*Tea of the Month*/

.featured_tea {display: inline-flex;
              display: inline-block;
              flex-flow: row wrap;
              justify-content: space-around;
              align-items: center;
              height: 700px;
              width: 1000px;
              margin: auto;
        }

.featured_tea img {height: 200px;
                  width: 300px;}


.tea_1 .tea_2 .tea_3 .tea_4 .tea_5 {display: inline-block;
                                    width: 300px;
                                    margin: auto;}

/*Locations*/

.location {display: inline-flex;
            display: block;
            justify-content: center;
            width: 1200px;
            height: 500px;
            margin: auto;
            background-image: url("./images/img-locations-background.jpg");
}
.location h2 {margin-bottom: 15px;}

.downtown {display: inline-block;
          background-color: black;
          text-align: center;
          width: 300px;
          margin-right: 40px;
          opacity: 1;}

.east {display: inline-block;
      background-color: black;
      text-align: center;
      width: 300px;
      margin-right: 40px;
      opacity: 1;}

.oakdale {display: inline-block;
          background-color: black;
          text-align: center;
          width: 300px;
          opacity: 1;}

/*Footer*/

.footer {position: fixed;
        width: 1200px;
        height: 200px;
        margin: auto;
        }

.footer #copyright {text-align: left;
            padding-left: 20px;

          }
