html {font-family: Helvetica;
      font-size: 22px;
      color: seashell;
      background-color: black;
      opacity: 0.9;
      text-align: center;
       }

/*Header*/

.header {display: block;
        position: fixed;
        height: 69px;
        width: 100%;
        border-bottom: 1px solid seashell;
        z-index: 20;
        }

nav {text-decoration: underline;
              text-align: right;
}


/*Our Mission*/

.our_mission {display: flex;
          display: block;
          position: relative;
          top: 69px;
          justify-content: center;
          align-items: center;
          width: 1200px;
          height: 700px;
          margin: auto;
          padding-bottom: 50px;
          background-image: url("./images/img-mission-background.jpg");
        }

.our_mission .content_1 {background-color: black;
                        width: 1200px;
                        margin: 0 auto;
}

/*Tea of the Month*/

.featured_tea {display: inline-flex;
              flex-flow: row wrap;
              position: relative;
              width: 1000px;
              margin: auto;
        }

.tea_1 {width: 300px;
        margin: auto;}

.tea_2 {width: 300px;
        margin: auto;}

.tea_3 {width: 300px;
        margin: auto;}

.tea_4 {width: 300px;
        margin: auto;}

.tea_5 {width: 300px;
        margin: auto;}

/*Locations*/

.location {display: flex;
            display: block;
            position: relative;
            justify-content: center;
            width: 1200px;
            height: 500px;
            margin: auto;
            background-image: url("./images/img-locations-background.jpg");
}
.location h2 {margin-bottom: 15px;}

.downtown {display: inline-block;
          background-color: black;
          text-align: center;
          width: 300px;
          margin-right: 40px;
          opacity: 1;}

.east {display: inline-block;
      background-color: black;
      text-align: center;
      width: 300px;
      margin: auto;
      margin-right: 40px;
      opacity: 1;}

.oakdale {display: inline-block;
          background-color: black;
          text-align: center;
          width: 300px;
          opacity: 1;}

/*Footer*/

.footer {width: 1200px;
        height: 200px;
        margin: auto;
        }
.copyright {text-align: left;
            padding-left: 20px;}
